body {
    background-color: gainsboro;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 21px;
    font-weight: lighter;
    line-height: 100%;
    margin: 0px;
}

.container {
    background-color: #1d1d1d;
    border-radius: 0 0 8px 8px;
    left: 22vw;
    padding: 15px;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
}

.panel {
    background-color: darkgray;
    height: 42px;
    line-height: 36px;
    padding: 0.4em;
    text-align: center;
}


/* Buttons */

.btn {
    background-clip: padding-box;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, .15);
    color: #464a4c;
    font-size: 1rem;
    padding: .5rem .75rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    vertical-align: text-bottom;
}


/* Icons */

.icon {
    background-repeat: no-repeat;
    display: inline-block;
    height: 18px;
    vertical-align: bottom;
    width: 18px;
}

.check {
    background-image: url('../svg/check.svg'), none;
}


/* Form */

.form-horizontal input, .form-horizontal select {
    background-clip: padding-box;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, .15);
    color: #464a4c;
    font-size: 1rem;
    padding: .5rem .75rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    vertical-align: text-bottom;
}


}
.form-horizontal select {
    height: 21px;
}

/* Section Header */
section.background-image {
    background-image: url('../img/robert-katzki-119134.jpg');
    background-size: cover;
    height: 290px;
}
section.header {
    position: relative;
}
section.header article {
    left: 50%;
    position: absolute;
    top: 30%;
    transform: translate(-50%, -50%);
}

/* Article Box */
article.box {
    font-size: 1rem;
}
article.box * {
    color: gainsboro;
    text-align: center;
}
article.box h1 {
    font-weight: normal;
}

/* SVG */
svg {
    -ms-transform: translateX(-50%);
    height: 141px;
    left: 50%;
    padding: 1px 0 0 1px;
    position: relative;
    transform: translateX(-50%);
    width: 141px;
}

/* Wave */
.water-fill {
    -webkit-animation: wave 0.7s infinite linear, fill-up 10s infinite ease-out alternate;
    animation: wave 0.7s infinite linear, fill-up 10s infinite ease-out alternate;
}
@-webkit-keyframes wave {
    0% {
        x: -400px;
    }

    100% {
        x: 0;
    }
}
@keyframes wave {
    0% {
        x: -400px;
    }

    100% {
        x: 0;
    }
}
